* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .navbar {
  background-image: linear-gradient(132.6deg, #478bd6 23.3%, #25d8d3 84.7%); }
  header .navbar .navbar ul li:hover {
    background-image: linear-gradient(358.7deg, #2a889d 1.7%, #7ac5d6 51.1%, #d3e8f2 95.5%);
    transition: 0.5s;
    border-radius: 2rem; }
  header .navbar .logoig, header .navbar .logotw {
    margin: 20px;
    align-items: center; }

main h1 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 6rem;
  padding: 1rem; }

main .band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px; }
  main .band .card {
    display: flex;
    flex-direction: column;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in; }
    main .band .card:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); }
    main .band .card .article {
      padding: 20px;
      font-family: 'Open Sans', sans-serif; }
      main .band .card .article h2 {
        font-size: 20px;
        margin: 0;
        color: #333; }
      main .band .card .article p {
        line-height: 1.4; }
      main .band .card .article span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin: 2em 0 0 0; }
    main .band .card .thumb {
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center; }
    main .band .card .article {
      display: flex;
      flex-direction: column;
      padding: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .band .card .article p {
        flex: 1;
        line-height: 1.4; }

.pie-pagina {
  background-color: #a1d7e8;
  font-size: 1rem;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  box-sizing: border-box; }
  .pie-pagina .fondo {
    width: 800px;
    height: 700px;
    background-image: url(../img/tip2.jpeg);
    background-repeat: space;
    background-size: cover;
    background-position: center;
    opacity: 85%; }
    .pie-pagina .fondo label {
      font-family: sans-serif;
      font-weight: bolder;
      color: #0d0c0d;
      font-size: 1rem; }

@media only screen and (min-width: 600px) {
  .band {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 1024px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

body {
  background-color: #f1f3f3; }
