body {
    background: rgb(217, 224, 226);
    background: linear-gradient(90deg, rgba(217, 224, 226, 1) 5%, rgba(227, 227, 199, 1) 100%, rgba(49, 40, 198, 1) 100%);
}

.bg {
    background-image: url(../img/tip1.jpeg);
    background-position: center center;

}