
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "utilities/variables";
@import "utilities/mixin";
@import "mediaqueries";
@import "header";
@import "main";
@import "footer";

@import "contacto";



body {

    background-color: $color-principal;

}

